* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-flow: column nowrap; 
}

.header, .main-title, .footer {
    background-color: #1F2937;
}

.information {
    background-color: white; 
}

.quote-container {
    background-color: #E5E7EB;
}

.call-to-action {
    background-color: #3882F6; 
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: bolder;
}

.links a {
    color: white; 
    text-decoration: none; 
}

.main-title h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; 
}

.main-title {
    display: flex; 
    align-items: center; 
    gap: 35px; 
}

.main-title-start {
    width: 400px; 
    margin-left: 15%; 
}

.main-title-end {
    background-color: rgb(170, 167, 167);
    height: 250px;
    width: 500px;  
    margin-right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    font-size: 18px; 
    color: #E5E7EB; 
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
}

.quote-author {
    font-weight: bold;
}

button {
    background-color: #3882F6; 
    color: white; 
}


.links {
    display: flex; 
    gap: 20px; 
} 

.header {
    height: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
} 

.main-title, .information, .quote-container,
.call-to-action {
    height: 350px; 
}


.footer {
    color: white; 
    height: 40px; 
}

.call-to-action {
    color: white; 
}