* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-flow: column nowrap; 
}

.header, .main-title, .footer {
    background-color: #1F2937;
}

.information {
    background-color: white; 
    text-align: center;
}

.information h1 {
    margin: 25px 0px; 
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
} 

.card-image {
    border: cornflowerblue;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    height: 150px; 
    width: auto;
}

.card {
    width: 150px; 
}

.card-subtext {
    margin-top: 10px; 
    color:rgb(105, 103, 103);

}

.call-to-action {
    background-color: #3882F6; 
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: bolder;
}

.links a {
    color: white; 
    text-decoration: none; 
}

.main-title h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; 
}

.main-title {
    display: flex; 
    align-items: center; 
    gap: 35px; 
}

.main-title-start {
    width: 400px; 
    margin-left: 15%; 
}

.main-title-end {
    background-color: rgb(131 129 129);
    height: 250px;
    width: 500px;
    margin-right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.main-title-start button {
    font-weight: bold;
    width: 129px;
    height: 35px;
    border-radius: 12px;
    margin-top: 10px; 
}

.subtext {
    font-size: 18px; 
    color: #E5E7EB; 
}

.quote-container {
    background-color: #E5E7EB;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
    display: flex;
    flex-direction: column;
    margin: 0px 300px; 
}

.quote-author {
    font-weight: bold;
    font-style: normal;
    font-size: 20px; 
    align-self: flex-end; 
}

button {
    background-color: #3882F6; 
    color: white; 
}


.links {
    display: flex; 
    gap: 20px; 
} 

.header {
    height: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
} 

.main-title, .information, .quote-container,
.call-to-action {
    height: 350px; 
}


.footer {
    color: white; 
    height: 40px; 
}

.call-to-action {
    color: white; 
}